<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Přihlášení</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Uživatelské jméno:</label>
        <input type="text" name="username" required>

        <label>Heslo:</label>
        <input type="password" name="password" required>

        <button type="submit">Přihlásit</button>
    </form>

    <a href="{{ url_for('register') }}">Nemáte účet? Zaregistrujte se</a>
</body>
</html>
